<!-- wp:template-part {"slug":"nav"} /-->
<!-- wp:image -->
    <figure class="wp-block-image">
        <img
            src="https://fastly.picsum.photos/id/65/1280/400.jpg?hmac=t9ZAYD_bF8xduoSal-Eq9GxaP9uXRMcHYiW4Ig93YGM"
            alt="Hero Banner"
        />
    </figure>
 <!-- /wp:image -->
<!-- wp:heading {"level":1} -->
    <h1 class="wp-block-heading"> Powerful Solutions, Simplified. Elevate Your Workflow Today</h1>
<!-- /wp:heading -->
<!-- wp:paragraph {"align":"center"} -->
    <p>
        Streamline your processes, boost productivity, and scale effortlessly with our all-in-one platform.
    </p>
<!-- /wp:paragraph -->
<!-- wp:button -->
<div class="wp-block-button">
<a class="wp-block-button__link wp-element-button">
Request Demo
</a>
</div>
<!-- /wp:button -->
<!-- wp:heading {"level":3} -->
    <h3 class="wp-block-heading">Key Features</h3>
<!-- /wp:heading -->

<!-- wp:group {"layout":{"type":"grid"}} -->
<div class="wp-block-group">
<!-- wp:image {"sizeSlug":"large"} -->
<figure class="wp-block-image size-large">
    <img 
        src="https://fastly.picsum.photos/id/23/3887/4899.jpg?hmac=2fo1Y0AgEkeL2juaEBqKPbnEKm_5Mp0M2nuaVERE6eE" 
        alt="Figure Item"/>
    </figure>
<!-- /wp:image -->
<!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group">
<!-- wp:heading {"level":4} -->
    <h4 class="wp-block-heading">Featured Item</h4>
<!-- /wp:heading -->
<!-- wp:paragraph -->
    <p>
        Description of feature and how it enhances the value of the system.
        </p>
<!-- /wp:paragraph -->
</div>
<!-- /wp:group -->
<!-- wp:image {"sizeSlug":"large"} -->
<figure class="wp-block-image size-large">
<img 
    src="https://fastly.picsum.photos/id/23/3887/4899.jpg?hmac=2fo1Y0AgEkeL2juaEBqKPbnEKm_5Mp0M2nuaVERE6eE" 
    alt="Featured Item"/>
</figure>
<!-- /wp:image -->
<!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group">
<!-- wp:heading {"level":4} -->
<h4 class="wp-block-heading">Featured Item</h4>
<!-- /wp:heading -->
<!-- wp:paragraph -->
    <p>
    Description of feature and how it enhances the value of the system.
    </p>
<!-- /wp:paragraph -->
</div>
<!-- /wp:group -->
</div>
<!-- /wp:group -->
<!-- wp:heading {"level":3} -->
    <h3 class="wp-block-heading">Why Choose Us?</h3>
<!-- /wp:heading -->
<!-- wp:paragraph -->
<p> With cutting-edge technolofy, seamless integrations, and top-tier support, we provide the tools you need to optizme workflow, enhance collboration, and drive growth. Whether you are a startup or enterprise, our solution adapts to your needs - so you can focus on what matters</p>
<!-- /wp:paragraph -->
<!-- wp:image {"sizeSlug":"large"} -->
<figure class="wp-block-image size-large">
    <img 
    src="https://picsum.photos/id/19/367/267" 
    alt=""/>
</figure>
<!-- /wp:image -->